{% comment %}
  Renders cart drawer

  Usage:
  {% render 'cart-drawer' %}
{% endcomment %}

{{ 'custom-cart-drawer.css'|asset_url|stylesheet_tag }}
<div class="product-drawer">
    <span class="product-overlay"></span>
    <div class="product-drawer-container">
        <div class="product-drawer-header">
            <h2>Cart</h2>
          <div class="mob-cart-close">
              <img src="https://cdn.shopify.com/s/files/1/0722/6078/0309/files/close.png?v=1679679775" alt="">
          </div>
        </div>
        <cart-drawer-items>
            <div class="cart-drawer-wrapper" ss>
              <div class="cart-drawer-items-container">
                {% for item in cart.items %}
                <div class="cart-drawer-item">
                    <a href="{{ item.url }}"></a>
                        <div class="cart-media">
                            <img src="{{ item.image | img_url: '300x' }}" alt="">
                        </div>
                    </a>
                    <div class="cart-details">
                        <a href="{{ item.url }}">
                            <h2>{{ item.product.title | escape }}
                                <span>{{ item.variant.option1 }}</span>
                            </h2>
                        </a>
                        <div class="cart-item-quantity">
                            <div class="cart-price">
                                {% if item.product.compare_at_price > 0 %}
                                <span>{{ item.variant.price | money }}
                                    <del>{{ item.variant.compare_at_price | money }}</del>
                                </span>
                                {% endif %}
                            </div>
                            <div class="cart-item-quantity-box">
                                <div class="qty-wrap" data-variant-id="{{ item.id }}">
                                    <button type="button" id="sub" class="sub">
                                      <img class="sub" width="8" src="{{ 'minus.png'|asset_url }}">
                                      <!--<svg class="sub" xmlns="http://www.w3.org/2000/svg" width="8" height="1" viewBox="0 0 8 1">
                                          <rect id="Rectangle_10730" data-name="Rectangle 10730" width="8" height="1" rx="0.5"/>
                                      </svg>-->
                                    </button>
                                    <input class="qtycount" type="text" id="1" value="{{ item.quantity }}"
                                        name="updates[]" min="1" max="100" />
                                    <div class="loading-overlay__spinner" style="display:none">
                                      <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                      </svg>
                                    </div>
                                    <button type="button" id="add" class="add">
                                      <img class="add" width="8" src="{{ 'plus.png'|asset_url }}">
                                      <!--<svg class="add" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                                        <rect id="Rectangle_10733" data-name="Rectangle 10733" width="8" height="1" rx="0.5" transform="translate(0 3.5)"/>
                                        <rect id="Rectangle_10732" data-name="Rectangle 10732" width="8" height="1" rx="0.5" transform="translate(4.5) rotate(90)"/>
                                      </svg>-->
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %} 
                </div>
                <div class="cart-drawer-lower">
            {% for item in cart.items %}
                {%- if item.variant.title contains 'Queen' and item.quantity >= 2 -%}
                <div class="product-offer">
                    <div class="offer-heading">
                        <h2>OPTION</h2>
                    </div>
                    <div class="product-option">
                        <span>OFFER 1</span>
                        <div class="product-option-name">
                            <h3>1 Queen Pillows</h3>
                            <p>$119.00</p>
                        </div>
                    </div>
                    <div class="product-option">
                        <span>OFFER 2</span>
                        <div class="product-option-name">
                            <h3>2 Queen Pillows</h3>
                            <p>$238.00</p>
                        </div>
                    </div>
                    <div class="product-option prod-best-deal">
                        <div class="test-deal-tag">
                            <span>BEST DEAL!</span>
                        </div>
                        <span>OFFER 3</span>
                        <div class="product-option-name">
                            <h3>2 Queen Pillows +
                                <span>FREE</span>
                            </h3>
                            <p>$238.00</p>
                        </div>
                        <div class="best-deal">
                            <h2>2 x Queen Pillows</h2>
                            <div class="deal-block">
                                <div class="deal-item">
                                    <img src="https://cdn.shopify.com/s/files/1/0726/7100/2920/files/Screenshot_1.png?v=1678198244"
                                        alt="">
                                </div>
                                <div class="deal-item">
                                    <img src="https://cdn.shopify.com/s/files/1/0726/7100/2920/files/Screenshot_1.png?v=1678198244"
                                        alt="">
                                </div>
                            </div>
                        </div>
                        <p>+</p>
                        <div class="best-deal free-deal-block">
                            <h2>Free</h2>
                            <div class="deal-block">
                                <div class="deal-item">
                                    <h2>2 x OmniCubes</h2>
                                    <div class="deal-block-img">
                                        <img src="https://cdn.shopify.com/s/files/1/0726/7100/2920/files/Screenshot.png?v=1678198087"
                                            alt="">
                                        <img src="https://cdn.shopify.com/s/files/1/0726/7100/2920/files/Screenshot.png?v=1678198087"
                                            alt="">
                                    </div>
                                </div>
                                <div class="deal-item">
                                    <h2>2 x OmniCubes</h2>
                                    <div class="deal-block-img">
                                        <img src="https://cdn.shopify.com/s/files/1/0726/7100/2920/files/Screenshot.png?v=1678198087"
                                            alt="">
                                        <img src="https://cdn.shopify.com/s/files/1/0726/7100/2920/files/Screenshot.png?v=1678198087"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%- endif -%}
            {% endfor %}
                <div class="cart-checkout">
                    <a href="/checkout"><button >Checkout ({{ cart.total_price|money }})</button></a>
                </div>
              </div>
            </div>
        </cart-drawer-items>
        </form>
    </div>
</div>

